<%= form_for(@equipment) do |f| %>
  <% if @equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
      <% @equipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <%= f.label 'equipment id' %><br>
      <%= f.text_field :equip_id %>
    </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

    <div class="field">
      <%= f.label :brand %><br>
      <%= f.text_field :brand %>
    </div>
    <div class="field">
      <%= f.label :serial %><br>
      <%= f.text_field :serial %>
    </div>
  <div class="field">
    <%= f.label :buy_date %><br>
    <%= f.date_select :buy_date %>
  </div>
  <div class="field">
    <%= f.label :exp %><br>
    <%= f.date_select :exp %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label 'Price (Baht)' %><br>
    <%= f.text_field :price %>
  </div>
    <div class="field">
      <%= f.label :note %><br>
      <%= f.text_field :note %>
    </div>
  <div class="actions">
    <%= f.submit 'Save'%>
  </div>
<% end %>
