<p id="notice"><%= notice %></p>
<h3>Listing Equipment</h3>
<div align="right">
<%= select_tag "group_action", options_for_select(["--Select action--","Export to PDF","Export to excel","Add to cart"]) %>
</div><br>
<table border="1" width="100%" style="font-size:12px;background-color:white;" class="table-hover">
  <thead>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Id</th>
    <th>Buy date</th>
    <th>Brand</th>
    <th>Note</th>
    <th>Expire date</th>
    <th>Status</th>
    <th>Location</th>
    <th>Price</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @equipment.order(:name).each do |equipment| %>
      <tr>
        <td>&nbsp<%= check_box_tag 'seleced'%></td>
        <td><%= equipment.name %></td>
        <td><%= equipment.equip_id %></td>
        <td><%= equipment.buy_date %></td>
        <td><%= equipment.brand %></td>
        <td><%= equipment.note %></td>
        <td><%= equipment.exp %></td>
        <td><%= equipment.status %></td>
        <td><%= equipment.location %></td>
        <td><%= equipment.price %></td>
        <td><%= link_to 'Detail', equipment_item_path(:equip_id => equipment.equip_id) %></td>
        <td><%= link_to 'Edit', edit_equipment_path(equipment) %></td>
        <td><%= link_to 'Delete', equipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New', new_equipment_path %><br>
<div align="right">
  <%= button_to 'Add to cart' , '#'%>
</div>
