<p id="notice"><%= notice %></p>
<style>
.btn-special {
  padding:1px;
}
</style>
<br>

<%= form_tag equipment_addeditdelete_path,method: 'post' do %>
               <span class="input-group-btn">
                <%= text_field_tag 'keyword',"", placeholder: 'Search...',class:'form-control'%>
                </span>
            <% end %>
<br>
<%= form_tag equipment_action_path,method: 'get' do %>
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-search fa-fw"></i> Listing Equipment 
      <div class="pull-right">
        <div class="btn-group btn-special">
            <%= submit_tag 'Export to PDF', class: "btn btn-primary" %>
            <%= submit_tag 'Export to excel', class: "btn btn-warning" %>
            <%= submit_tag 'Add to cart', class: "btn btn-success"%>
        </div>
      </div>
    </div>
<table class="table table-bordered table-hover table-striped table-condensed">
  <thead>
    <tr>
   <th></th>
    <th>Name</th>
    <th>Id</th>
    <th>Buy date</th>
    <th>Brand</th>
    <th>Price</th>
    <th>Expire date</th>
    <th>Location</th>
    <th>Campus</th>
    <th>Status</th>
    <th colspan="3"></th>
    </tr>
  </thead>

  <tbody align="center">
    <% @equipment.order(:name).each do |e| %>
      <tr>
        <td>&nbsp<%= check_box_tag "item_ids[]", e.equip_id %></td>
        <td><%= e.name %></td>
        <td><%= e.equip_id %></td>
        <td><%= e.buy_date %></td>
        <td><%= e.brand %></td>
        <td><%= e.price %></td>
        <td><%= e.exp %></td>
        <td><%= e.location %></td>
        <td><%= e.campus %></td>
        <td><%= e.status %></td>
         <td><%= link_to 'Detail', equipment_item_path(:equip_id => e.equip_id) %></td>
        <td><%= link_to 'Edit', edit_equipment_path(e) %></td>
        <td><%= link_to 'Delete', e, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</div>
<% end %>

<%= button_to 'Add New Equipment', new_equipment_path,method: 'get', class: "btn btn-danger" %>



