<br>

<table style="width:100%;height:250px;border:1px solid lightgrey;">
    <tr>
        <td>
<%= form_tag equipment_result_path, method: 'post' do %>
  <div class="field">
    <%= label_tag 'Equipment ID'%><br>
    <%= text_field_tag :equip_id %><br>
    <%= label_tag 'Name'%><br>
    <%= text_field_tag :keyword %><br>
    <%= label_tag 'Brand'%><br>
    <%= text_field_tag :brand %><br>
    <%= label_tag 'Serial Number'%><br>
    <%= text_field_tag :serial %><br>
</td>
<td>

    <%= label_tag 'Buy date'%><br>
    &nbsp&nbsp&nbsp&nbsp<strong>From&nbsp</strong>
    <%= date_field_tag :buy_date %><br>
    &nbsp&nbsp&nbsp&nbsp<strong>To&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong>
    <%= date_field_tag :buy_date_end %><br><br>
    <%= label_tag 'Expire date'%><br>
   &nbsp&nbsp &nbsp&nbsp<strong>From&nbsp</strong>
    <%= date_field_tag :exp %><br>
   &nbsp&nbsp &nbsp&nbsp<strong>To&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong>
    <%= date_field_tag :exp_end %><br>
<br>
</td>
<td>

     <div class="form">
        <%= label_tag 'Status' %><br><br>
        <strong style="border:1px solid lightgrey;padding:5%">
            <%= radio_button_tag 'status', '' ,checked: true%>
            <%= label_tag 'All'%>
            <%= radio_button_tag 'status', 'Available' %>
            <%= label_tag 'Available'%>
            <%= radio_button_tag 'status', 'Reserved' %>
            <%= label_tag 'Reserved'%>
          </strong>
    </div><br>

    <div class="form">
        <%= label_tag 'Campus' %><br><br>
        <strong style="border:1px solid lightgrey;padding:5%">
            <%= radio_button_tag 'campus', '' ,checked: true%>
            <%= label_tag 'All'%>
            <%= radio_button_tag 'campus', 'Rangsit' %>
            <%= label_tag 'Rangsit'%>
            <%= radio_button_tag 'campus', 'Bangkadi' %>
            <%= label_tag 'Bangkadi'%>
          </strong>
    </div>

    </div>
    </td>
</table>
</div><br>
    <div class="action" style="padding-left:2%;">
     <%= submit_tag 'Search' %>
    </div>
<% end %>



  