<h1>Advance Search</h1>

<%= form_tag equipment_result_path, method: 'get' do %>
  <div class="field">
    <%= label_tag 'Item Id'%><br>
    <%= text_field_tag :equip_id %><br>
    <%= label_tag 'Name'%><br>
    <%= text_field_tag :keyword %><br>
    <%= label_tag 'Brand'%><br>
    <%= text_field_tag :brand %><br>
    <%= label_tag 'Status'%><br>
    <%= text_field_tag :status %><br>
    <%= label_tag 'Buy date'%><br>
    <%= date_field_tag :buy_date %><br>
    <%= label_tag 'Expire date'%><br>
    <%= date_field_tag :exp %><br>


    </div>

    <div class="action">
     <%= submit_tag 'Submit' %>
    </div>
<% end %>