<h3>Requested Item<h3>
<table border="1" width="100%" style="font-size:12px;background-color:white;" class="table-hover">
  <tr>
    <th>Item ID</th>
    <th>Item name</th>
	<th>Request Date</th>
    <th></th>
  </tr>

  <% @equipment.each do |e| %>
  <tr align="center">
    <td><%= e.equip_id %></td>
    <td><%= e.name %></td>
	<td>N/A</td>
	<td><%= link_to 'Approve', equipment_approve_path(:equip_id => e.equip_id) %></td>
  </tr>
  <% end %>
  </table>
  

  <br>
  <h3>Received Item<h3>
  <table border="1" width="100%" style="font-size:12px;background-color:white;" class="table-hover">
  <tr>
    <th>Item ID</th>
    <th>Item name</th>
	<th>Request Date</th>
    <th>Approve Date</th>
	<th>Received Date</th>
  <th>Own by</th>
  <th></th>
  </tr>

  <% @equipment_c.each do |e| %>
  <tr align="center">
    <td><%= e.equip_id %></td>
    <td><%= e.name %></td>
    <td>N/A</td>
    <td>N/A</td>
    <td>N/A</td>
    <td><%= e.ownby %></td>
    <td><%= link_to 'Return', equipment_return_path(:equip_id => e.equip_id) %></td>
  </tr>
  <% end %>
</table>