<p id="notice"><%= notice %></p>

<h3>Listing Equipment</h3>
<div align="right">
<%= select_tag "group_action", options_for_select(["--Select action--","Request all","Export to PDF","Export to excel","Add to cart"]) %>
</div><br>
<table border="1" width="100%" style="font-size:12px;background-color:white;" class="table-hover" >
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Id</th>
      <th>Buy date</th>
      <th>Brand</th>
      <th>Note</th>
      <th>Exp</th>
      <th>Serial</th>
      <th>Campus</th>
      <th>Status</th>
      <th></th>
      <% if user_signed_in? %>
          <th>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
        <% else %>
          <td></td>
      <% end %>
    </tr>
  </thead>

  <tbody align="center">
    <% @equipment.order(:name).each do |e| %>
      <tr>
        <td>&nbsp<%= check_box_tag 'seleced'%></td>
        <td><%= e.name %></td>
        <td><%= e.equip_id %></td>
        <td><%= e.buy_date %></td>
        <td><%= e.brand %></td>
        <td><%= e.note %></td>
        <td><%= e.exp %></td>
        <td><%= e.serial %></td>
        <td><%= e.campus %></td>
        <td><%= e.status %></td>
        <td><%= link_to 'Detail', equipment_item_path(:equip_id => e.equip_id) %></td>
        <% if user_signed_in? && e.status != 'Reserved' && e.status != 'Pending'%>
          <td><%= link_to 'Request' , equipment_doreserve_path(:equip_id => e.equip_id) %></td>
        <% else %>
          <td></td>
        <% end %>

    <% end %>
  </tbody>
</table>
<br>
<div align="right">
  <%= button_to 'Add to cart' , '#'%>
</div>

