<div class="col-sm-5" style="padding-top:5%">
  <%= image_tag @path, style:"width:304px;height:228px" %>
</div><p id="notice"><%= notice %></p>
<div class="col-sm-7" style="padding-top:3%">
      <p>
        <strong>Name:</strong>
        <%= @equipment.name %>
      </p>

      <p>
        <strong>Equip:</strong>
        <%= @equipment.equip_id %>
      </p>

      <p>
        <strong>Buy date:</strong>
        <%= @equipment.buy_date %>
      </p>

      <p>
        <strong>Brand:</strong>
        <%= @equipment.brand %>
      </p>

      <p>
        <strong>Note:</strong>
        <%= @equipment.note %>
      </p>

      <p>
        <strong>Exp:</strong>
        <%= @equipment.exp %>
      </p>

      <p>
        <strong>Status:</strong>
        <%= @equipment.status %>
      </p>

      <p>
        <strong>Serial:</strong>
        <%= @equipment.serial %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @equipment.price %>
      </p>

      <%= link_to 'Edit', edit_equipment_path(@equipment) %> |
      <%= link_to 'Back', equipment_addeditdelete_path %>
      <br>
      <%= form_tag equipment_upload_path(:equip_id => params[:equip_id]) , { :multipart => true } do %>
          <%=  file_field_tag 'upload[file]' %>
          <%= button_tag(type: 'submit') do %>
            Submit
      <% end %>
      <% end %>
</div>