<div class="col-sm-6" style="padding-top:5%;">
  <%= image_tag @path, style:"width:380px;height:285px;border:1px solid black;" %>
</div><p id="notice"><%= notice %></p>
<div class="col-sm-6" style="padding-top:8%">
  <table border="0px" width="350px">
    <tr><td><strong>Name:</strong></td>
        <td><%= @equipment.name %></td>
    </tr>

    <tr><td><strong>Equip:</strong></td>
        <td><%= @equipment.equip_id %></td>

    <tr><td><strong>Buy date:</strong></td>
        <td><%= @equipment.buy_date %></td>

    <tr><td><strong>Brand:</strong></td>
        <td><%= @equipment.brand %></td>
      
    <tr><td><strong>Note:</strong></td>
        <td><%= @equipment.note %></td>
      
    <tr><td><strong>Exp:</strong></td>
        <td><%= @equipment.exp %></td>
      
    <tr><td><strong>Status:</strong></td>
        <td><%= @equipment.status %></td>
 
    <tr><td><strong>Serial:</strong></td>
        <td><%= @equipment.serial %></td>
   
    <tr><td><strong>Price:</strong></td>
        <td><%= @equipment.price %>
        <strong>Baht</strong></td>
     </table>
      <br>
      <%= link_to 'Edit', edit_equipment_path(@equipment) %> |
      <%= link_to 'Back', :back %>
     
</div>