<p id="notice"><%= notice %></p>
<style>
.btn-special {
  padding:1px;
}
</style>
<br>
<%= form_tag equipment_action_path,method: 'get' do %>
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-gift fa-fw"></i> My Item
      
    </div>
<table class="table table-bordered table-hover table-striped table-condensed">
  <thead>
    <tr>
		<th>Item ID</th>
		<th>Item name</th>
		<th>Request Date</th>
		<th>Process</th>
		<th>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
	</tr>
  </thead>

  <tbody align="center">
    <% @equipment.each do |e| %>
	<tr>
		<td><%= e.equip_id %></td>
		<td><%= e.name %></td>
		<td>N/A</td>
		<td><%= e.process %></td>
		<% if e.process != 'Complete' %>
			<td><%= link_to 'Cancel', equipment_cancel_path(:equip_id => e.equip_id) %></td>
		<% else %>
			<td></td>
		<% end %>
	</tr>
	<% end %>
  </tbody>
</table>
<br>
</div>
<% end %>