<p id="notice"><%= notice %></p>
<style>
.btn-special {
  padding:1px;
}
</style>
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-flag fa-fw"></i> Reported Item
      
    </div>
<table class="table table-bordered table-hover table-striped table-condensed">
  <thead>
<tr>
    <th>Title</th>
    <th>Equipment ID</th>
    <th>Type</th>
    <th>Applicant</th>
    <th>Note</th>
    <th>Report Time</th>
    <th></th>
    <th>Status</th>
    <th>Action</th>
    <th>Staff Note</th>
    <th></th>
    <th></th>

  </thead>

  <tbody align="center">
 <% @report.order(:created_at).each do |r| %>
      <tr>
        <td><%= r.title %></td>
        <td><%= r.equip_id %></td>
        <td><%= r.equip_type %></td>
        <td><%= r.user_name %></td>
        <td><%= r.note %></td>
        <td><%= r.created_at %></td>
        <td><%= link_to 'View', equipment_reported_detail_path(id: r.id) %></td>
        <td><%= r.checked_status %></td>
        <td><%= r.action_needed %></td>
        <td><%= r.staff_note %></td>
        <td>&nbsp<%= link_to '✓', equipment_checked_path(id: r.id),method: 'post' %>&nbsp</td>
        <td>&nbsp<%= link_to 'X', equipment_unchecked_path(id: r.id),method: 'post' %>&nbsp</td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
</div>

