<p id="notice"><%= notice %></p>

<p>
  <strong>Equip:</strong>
  <%= @equipment.equip_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @equipment.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @equipment.status %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
