<style>
.font-white {
    color: white;
}
</style>
<nav  style="margin-bottom:0%; background: linear-gradient(to bottom, #4d0066 90%,white 100%) ;width:1100px;border-radius:0px" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse font-white" id="bs-example-navbar-collapse-1" >
      <ul class="nav navbar-nav">
        <li style="color:#4d0066">                                                ............................................</li>
        <% @path = request.env['PATH_INFO'] %>

        <% if @path == '/equipment' || @path == '/equipment/index' || @path == '/' %>
          <li><%= link_to 'Home', equipment_index_path,style:"background-color:#F2F2F2;color:darkblue" %></li>
        <% else %>
          <li><%= link_to 'Home', equipment_index_path %></li>
        <% end %>

        <% if @path == '/equipment/advance' %>
         <li><%= link_to 'Advanced Search', equipment_advance_path,style:"background-color:#F2F2F2;color:darkblue" %></li>
        <% else %>
          <li><%= link_to 'Advanced Search', equipment_advance_path %></li>
        <% end %>

        <% if @path == '/equipment/history' %>
          <li><%= link_to 'History', equipment_history_path,style:"background-color:#F2F2F2;color:darkblue" %></li>
        <% else %>
          <li><%= link_to 'History', equipment_history_path %></li>
        <% end %>
        </ul>
    
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to image_tag("/images/cart.png",style:'height:18px'), '#' %></li>
        <li><%= link_to image_tag("/images/notification.png",style:'height:18px'), '#' %></li>
      <% if user_signed_in? %>
               <li><a>Welcome, <%= current_user.name %>(<%= current_user.user_type %>)</a></li>
        <li><%= link_to 'Log out', destroy_user_session_path, :method => :delete %></li>
      <% else %>

      <% if @path == '/users/sign_in' %>
        <li><%= link_to 'Log in', new_user_session_path,style:"background-color:#F2F2F2;color:darkblue" %></li>
      <% else %>
        <li><%= link_to 'Log in', new_user_session_path%></li>
      <% end %>

      <% if @path == '/users/sign_up'%>
        <li><%= link_to 'Register', new_user_registration_path,style:"background-color:#F2F2F2;color:darkblue"  %></li>
      <% else %>
         <li><%= link_to 'Register', new_user_registration_path  %></li>
      <% end %>

      <% end %>
      <li><%= link_to 'EN', '#' ,style:"background-color:#F2F2F2;color:darkblue"%></li>
        <li><%= link_to 'TH', '#' %></li>
      </ul>
    </div>
  </div>
</nav>
        