<style>
.font-white {
    color: white;
}
</style>
<nav  style="margin-bottom:0%; background: linear-gradient(to bottom, #4d0066 90%,white 100%) ;width:1100px;border-radius:0px">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse font-white" id="bs-example-navbar-collapse-1" >
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', equipment_index_path %></li>
        <li><%= link_to 'Advanced Search', equipment_search_path %></li>
        <li><%= link_to 'Reserved', equipment_reserved_path %></li>
        <li><%= link_to 'Audit', equipment_audit_path %></li>
        <li><%= link_to 'History', '#' %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to 'Log out', destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to 'Log in', new_user_session_path %></li>
        <li><%= link_to 'Register', new_user_registration_path %></li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>
        