<div class="navbar navbar-default" style="background-color:#E3CEF6;border-radius:0px;width:200px;height:550px" >
      <div class="nav-collapse" >
        <ul class="nav nav-pills nav-stacked sidebar-menu">
          <li>
          <br>
            <table >
              <tr>
                <td>
            <div class: "navbar-form" sytle="inline">
            <%= form_tag equipment_result_path,method: 'post' do %>
              <div style="inline-block">
                <%= text_field_tag 'keyword',"", placeholder: 'Search',style: "width:100%"%>
              </td>
              <td>
                <%= button_tag(type: 'submit', data: { status: 'Available' }) do %>
                  <i class="glyphicon glyphicon-search"></i>
                <% end %>

            <% end %>
          </td>
          <td>
              <%= form_tag equipment_index_path do %>
               <%= button_tag(type: 'submit') do %>
                  <i class="glyphicon glyphicon-qrcode"></i>
                <% end %>
                </div>
            <% end %>
          </div>
        </td>
        </tr>
        </table>
        <hr>
          <li><%= link_to 'My Item', equipment_myitem_path %></li><hr>
          <li><%= link_to 'Search History', equipment_history_path %></li><hr>
          <li><%= link_to 'Request Manager', equipment_audit_path %></li><hr>
          <li><%= link_to 'User Complaint', equipment_report_path %></li><hr>
          <li><%= link_to 'Add/Edit/Delete', equipment_addeditdelete_path %></li>
      </ul>
      <hr>
       <font size='1.5em' style='color:grey' >Language 
        <%= link_to 'English', '#' %> /
        <%= link_to 'Thai', '#' %>
        </font>
      <br><br>
      <div align="center"><font size='1.5em' style='color:grey' >Version 0.0.4 beta</font></div>
      </div>
</div>