<div class="navbar navbar-default" style="background-color:#E3CEF6;border-radius:0px;width:200px;height:550px" >
      <div class="nav-collapse" >
        <ul class="nav nav-pills nav-stacked sidebar-menu">
          <li>
          <hr>
            <table >
              <tr>
                <td>
            <div class: "navbar-form" sytle="inline">
            <%= form_tag equipment_result_path,method: 'post' do %>
              <div style="inline-block">
                <%= text_field_tag 'keyword',"", placeholder: 'Search',style: "width:100%"%>
              </td>
              <td>
                <%= button_tag(type: 'submit', data: { status: 'Available' }) do %>
                  <i class="glyphicon glyphicon-search"></i>
                <% end %>

            <% end %>
          </td>
          <td>
              <%= form_tag equipment_index_path do %>
               <%= button_tag(type: 'submit') do %>
                  <i class="glyphicon glyphicon-qrcode"></i>
                <% end %>
                </div>
            <% end %>
          </div>
        </td>
        </tr>
        </table>
        <hr>
          <li><%= link_to 'My Item', equipment_myitem_path %></li><hr>
          <li><%= link_to 'Search History', equipment_history_path %></li><hr>
          <% if user_signed_in? %>
            <% if current_user.user_type == 'admin' %>
              <li><%= link_to 'Request Manager', equipment_audit_path %></li><hr>
            <% else %>
            <% end %>
          <% end %>
          <li><%= link_to 'Instant Report !', equipment_report_path %></li>
          <% if user_signed_in? %>
            <% if current_user.user_type == 'admin' %>
            <hr>
              <li><%= link_to 'Add/Edit/Delete', equipment_addeditdelete_path %></li><hr>
              <li><%= link_to 'Reported Item', equipment_reported_item_path %></li>
            <% else %>
            <% end %>
          <% end %>
      </ul>
      <hr>

      <div  style="border-radius:0px; color:grey">
            <marquee behavior="scroll" direction="up" style="height:150px;" scrollamount="1">Search History :<br>
            <% History.order(:created_at).uniq(:keyword).each do |h| %>
              <%= link_to h.keyword, equipment_result_path(keyword: h.keyword),method: 'post' %><br>
            <% end %>
            </marquee>
         </div><br>
<hr>
       <font size='1.5em' style='color:grey' >Language 
        <%= link_to 'English', '#' %> /
        <%= link_to 'Thai', '#' %>
        </font>
      <br><br>
      <div align="center"><font size='1.5em' style='color:grey' >Version 0.1.0 beta</font></div>
      </div>
</div>