<!DOCTYPE html>
<html>
<head>
  <title>School Equipment Auditing System</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style>
.navbar-nav > li > a{
  color:white;
}
.navbar-nav > li > a:hover{
  color:black;
  background-color: #F2F2F2;
  color: #BF00FF;
  }
.div-special{
  border:1px solid grey;
  width:1102px;
  height:745px;
}
.sidebar-menu > li{
  background-color:#E3CEF6;
}
.sidebar-menu > li > a:hover{
  background-color:#F2F2F2;
  border-radius:0px;
  color:#BF00FF;
}
.sidebar-menu > li > a{
  padding-top:2px !important; 
  padding-bottom:2px !important;
}
.navbar-nav > li > a {
  padding-top:8px !important; 
  padding-bottom:8px !important;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.selected-tab > ul > li > a{
  background-color:#F2F2F2; 
}
body{
  padding-left:6%;
  padding-top:1%; 
  padding-bottom:5%;
}
</style>

<body>
<div align="left" class="div-special" style="background-color:#F2F2F2;border-radius:0px" >
  <div class="modal" style="display:none;">
  </div>
  <div>
    <img src="../images/banner.png" width="1100px" style="border-color:#e1b3ff;border-radius:0px"></img>
  </div>
  <div class="navbar-s">
   <%= render 'shared/navbar' %>
  </div>
  <div style="padding-left:0%;width:20%;float:left">
    <%= render 'shared/sidebar' %>
  </div>

  <div style="padding-right:2%;width:80%;float:right ">
    <div>
      <%= yield %>
    </div>
  </div>

</div>
</body>
</html>
